apt:
  unattended:
    origins_pattern:
      - origin1
      - origin2  
    package_blacklist:    
      - package1
      - package2  
   auto_fix_interrupted_dpkg: true     
   minimal_steps: false
   install_on_shutdown: false
   mail: root
   mail_only_on_error: false
   remove_unused_dependencies: true
   automatic_reboot: false
   dl_limit: 0
   enabled: 1
   update_package_lists: 1
   download_upgradeable_packages: 1
   unattended_upgrade: 1
   auto_clean_interval: 7
   verbose: 2
