{% set apt = pillar.get('apt', {}) -%}
{% set unattended = apt.get('listchanges', {}) -%}
{%- for profile_name, profile_details in listchanges.get('profiles', {}).items() %}
  {%- set frontend = profile_details.get('frontend', None) %}
  {%- set email_address = profile_details.get('email_address', None) %}
  {%- set confirm = profile_details.get('confirm', None) %}
  {%- set save_seen = profile_details.get('save_seen', None) %}
  {%- set which  = profile_details.get('which', None) %}
  {%- set browser = profile_details.get('browser', None %}

[{{ profile_name }}]
{%- if frontend != None %}
frontend={{ frontend }}
{%- endif %}
{%- if email_address != None %}
email_address={{ email_address }}
{%- endif %}
{%- if confirm != None %}
confirm={{ confirm }}
{%- endif %}
{%- if save_seen != None %}
save_seen={{ save_seen }}
{%- endif %}
{%- if which != None %}
which={{ which }}
{%- endif %}
{%- if browser != None %}
browser={{ browser }}
{%- endif %}

{%- endfor %}
